/* navbar.module.css */
.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Justify content to the end */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.315); /* Add shadow to navbar */
  z-index: 1000; /* Ensure it is above other content */
  border-radius: 0 !important; /* Ensure no border radius is applied */
}

.Navbar.about_active {
  background-color: #0a3981;
}

.Navbar .marginer {
  margin-right: 50px;
}

.Navbar a {
  color: #0a3981;
  margin: 0 10px;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 700; /* Extra bold weight */
  font-size: 20px;
  margin-right: 20px;
}

.active {
  background-color: #0a3981;
  padding: 10px 25px;
  border-radius: 20px; /* This applies to the active link, not the navbar */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Adjusted for bottom shadow */
}

.Navbar a.active {
  color: #ffffff;
  text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4); /* Add text shadow for floating effect */
  font-weight: 900;
}

.about_active {
  background-color: #ffffff;
  padding: 10px 25px;
  border-radius: 20px; /* This applies to the about link, not the navbar */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Adjusted for bottom shadow */
}

.Navbar a.about_active {
  color: #0a3981;
  text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4); /* Add text shadow for floating effect */
  font-weight: 900;
}

.other_links_when_about_active {
  color: #ffffff !important; /* Ensure the color is applied */
}